@import "tailwindcss";

@theme {
  --color-gram-white: #f7f7f7;
  --color-gram-dark-blue: #243666;
  --color-gram-green: #8cd8be;
  --color-gram-blue: #0e6ba7;
}

/* Bahnschrift font - already available in Windows */
body {
  font-family: 'Bahnschrift', Arial, sans-serif;
}
